.js-account-service-mobile{
    padding-left: 80px;
}
.main-header .main-navigation .nav-pills li.auto.has-sub.icon-svg-arw-right{
    padding: 0 20px 0 20px;
}
.price-line-throught{
    font-size: larger;
    text-decoration: line-through;
}
.price{
    color:red;
}
.gnb__utility .gnb__cart-in-number {
    position: absolute;
    top: -3px;
    left: 15px;
    z-index: 2000;
    min-width: 12px;
    height: 12px;
    padding: 0 2px;
    border-radius: 6px;
    background-color: #d93b30;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    letter-spacing: normal;
    text-indent: 1px;
}

.text-overflow {
    white-space: nowrap;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}